body {
    margin: 0;
    padding: 50px;

}

#game {
    position: absolute;
    bottom: 540px;
    height: 1080px;
    width: 1920px; 
    border: 1px solid black;
    background-image: url("/pictures/scrolling-background.png");
    background-repeat: repeat-x;
    /* overflow: hidden; */
    animation: background-slide 5000ms linear infinite;

    /* width: 1920px;
    height: 1080px;
    background-image: url("/pictures/Carnagie_Library.png");
    border: 1px solid black;
    top: 200px;
    margin: auto; */
}
@keyframes background-slide {
    100% {background-position: -5760px;}
}

#character {
    width: 240px;
    height: 400px;
    position: relative;
    top: 600px;
    left: 50px;
    background-image: url("/pictures/sagehen-spritesheet-2.png");
    animation: run 650ms steps(8) 10ms infinite;
    /* animation-delay: -0.1s; */
}

.animate {
    animation: jump 500ms;
    animation: run 650ms steps(8) 10ms;
    
}
@keyframes run {
    100% {background-position: -2000px;}
  }

@keyframes jump {
    0% {top: 650px;}
    35% {top: 350px;}
    70% {top: 350px;}
    100% {top: 650px;}
}

#block {
    width: 300px;
    height: 300px;
    background-image: url("/pictures/fire1.png");
    position: relative;
    top: 400px;
    left: 1620px;
    animation: block 1400ms infinite linear;
}

@keyframes block {
    0% {left: 1620px;}
    100% {left: -300px;}
}
.container {
    width: 1920px;
    height: 1080px;
    border: 1px solid black;
    top: 200px;
    margin: auto;
    overflow: hidden;

}

/* .sliding-background {
    background-image: url("/pictures/scrolling-background.png") repeat-x;
    height: 1080px;
    width: 5760px; 
    animation: background-slide 2s linear infinite;
} */



/*
@keyframes run {
    0% {
        transform: translate3d(0, 0, 0);
    }
    0%   {background-image: url("/pictures/cropped_sagehen.run-1.png");}
    13%  {background-image: url("/pictures/cropped_sagehen.run-2.png");}
    25%  {background-image: url("/pictures/cropped_sagehen.run-3.png");}
    38% {background-image: url("pictures/cropped_sagehen.run-4.png");}
    50% {background-image: url("pictures/cropped_sagehen.run-5.png");}
    63% {background-image: url("pictures/cropped_sagehen.run-6.png");}
    75% {background-image: url("pictures/cropped_sagehen.run-7.png");}
    100% { transform: translate3d(50px, 0, 0);
        background-position: -2000px}
  }  */


    /* animation-name: run;
    animation-duration: 1s;
    animation-iteration-count: infinite;
